/* style.css */

body {
    background: linear-gradient(to bottom left, #99ff33 9%, #ff99cc 83%);
}

h1 {
    font-family: fantasy;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

p {
    font-family: fantasy;
}
